<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973264485339-v2p3vb6u4du7bkii9egg2ihqc2s9oe9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973264485339-v2p3vb6u4du7bkii9egg2ihqc2s9oe9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBdSXr3ketUXgbSnheJuQuk3bZ2vbsvE2k</string>
	<key>GCM_SENDER_ID</key>
	<string>973264485339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wallet-74af0</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-74af0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973264485339:ios:5620d43988c197106745fe</string>
	<key>DATABASE_URL</key>
	<string>https://wallet-74af0-default-rtdb.firebaseio.com</string>
</dict>
</plist>